<!-- src/app/filmDetails/film-details.html -->

<div class="film-details">
  <h1>Détails du Film</h1>
  <div *ngIf="film">
    <h2>{{ film.nomFilm }}</h2>
    <p><strong>Genre :</strong> {{ film.genre }}</p>
    <p><strong>Langue :</strong> {{ film.langue }}</p>
    <p><strong>Synopsis :</strong> {{ film.synopsis }}</p>
  </div>

  <h3>Notes et Commentaires</h3>
  <ul>
    <li *ngFor="let note of notesFilm">
      <strong>Note :</strong> {{ note.note }} / 5
      <br>
      <strong>Commentaire :</strong> {{ note.commentaire || 'Pas de commentaire' }}
    </li>
  </ul>

  <div>
    <h4>Ajouter une Note</h4>
    <form (ngSubmit)="saveNote()">
      <div>
        <label for="note">Note :</label>
        <input type="number" id="note" [(ngModel)]="newNote.note" name="note" min="0" max="5" required>
      </div>
      <div>
        <label for="commentaire">Commentaire :</label>
        <input type="text" id="commentaire" [(ngModel)]="newNote.commentaire" name="commentaire">
      </div>
      <button type="submit">Enregistrer</button>
    </form>
  </div>
</div>
