<nav>
  <div>
    <img src="assets/holiday.ico" routerLink="/start" />
    <mat-nav-list>
      <ng-container *ngIf="authService.isLoggedIn()">
        <div *ngFor="let link of links">
          <a mat-list-item [routerLink]="link.href" routerLinkActive="active">
            <span>{{ link.name }}</span>
          </a>
        </div>
      </ng-container>
    </mat-nav-list>
  </div>
  <div id="log-sign" style="float: right;">
    <mat-nav-list>
      <ng-container *ngIf="authService.isLoggedIn(); else notLoggedIn">
        <!-- Logout Link positioned to the right -->
        <div>
          <a mat-list-item (click)="authService.logout()">
            <span>Logout</span>
          </a>
        </div>
      </ng-container>
      <!-- Template for not logged in users -->
      <ng-template #notLoggedIn>
        <div *ngFor="let link of links2">
          <a mat-list-item [routerLink]="link.href" routerLinkActive="active">
            <span>{{ link.name }}</span>
          </a>
        </div>
      </ng-template>
    </mat-nav-list>
  </div>
</nav>

