<nav class="navbar">
  <img src="assets/holiday.ico" routerLink="/start" class="navbar-logo">
  <div class="left-links">
    <ng-container *ngIf="authService.isLoggedIn()">
      <a mat-list-item [routerLink]="'/accueil'" routerLinkActive="active" *ngIf="authService.isClient() || authService.isAdmin()">Accueil</a>
      <a mat-list-item [routerLink]="'/dashboard'" routerLinkActive="active" *ngIf="authService.isAdmin()">Dashboard</a>
      <a mat-list-item [routerLink]="'/create-film'" routerLinkActive="active" *ngIf="authService.isAdmin()">Add-Film</a>
      <a mat-list-item [routerLink]="'/create-lieu'" routerLinkActive="active" *ngIf="authService.isAdmin()">Add-Place</a>
    </ng-container>
  </div>

  <div class="right-links">
    <ng-container *ngIf="authService.isLoggedIn()">
      <a mat-list-item (click)="authService.logout()">Logout</a>
    </ng-container>
    <ng-container *ngIf="!authService.isLoggedIn()">
      <a mat-list-item [routerLink]="'/login'" routerLinkActive="active">Login</a>
      <a mat-list-item [routerLink]="'/create-user'" routerLinkActive="active">Sign Up</a>
    </ng-container>
  </div>
</nav>
